//* Colours

$primary: #444444;
$primary-alt: #413583;
$primary-dark: #444444;
$secondary: #f7f4f1;
$secondary-alt: #5160b8;
$white: #FFFFFF; //* #FAF9F9
$highlight: #ded7ff;

$link: #796dbb;
$link-hover: #413583;

//* Cards

$discovergaming: #e2f2fa;
$discovergaming-alt: #4976d8;

$justlikehome: #e3ecda;
$justlikehome-alt: #6f9258;

$IMT: #DFEBEC;
$IMT-alt: #5aa2aa;

$plants: #CEE0DC;
$plants-alt: #35786e;

$align: #E0E5F3;
$align-alt: #5d6591;

$gyve: #ffe5e4;
$gyve-alt: #ea604e;

$convex: #ccdde9;
$convex-alt: #446d9b;

//* Breakpoints

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 500px;
$max: 1200px; /* max container size */
