//* Colours

$primary: #444444;
$primary-alt: #413583;
$primary-dark: #444444;
$secondary: #EFECE8;
$secondary-alt: #5160b8;
$white: #FFFFFF; //* #FAF9F9
$highlight: #ded7ff;

$link: #796dbb;
$link-hover: #413583;

//* Cards

$ovopy: #faebcc;
$ovopy-alt: #ffa42c;

$regent: #fce9e5;
$regent-alt: #ff6e4a;

$discovergaming: #e2f2fa;
$discovergaming-alt: #417bfa;

$justlikehome: #e3ecda;
$justlikehome-alt: #76944d;

$orvos: #f3dbd0;
$orvos-alt: #e27958;

$IMT: #DFEBEC;
$IMT-alt: #5aa2aa;

$align: #E0E5F3;
$align-alt: #5B6389;

//* Breakpoints

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 500px;
$max: 1200px; /* max container size */
