/* Colours */

$primary: #4E625E;
$primary-alt: #7F9E98;
$secondary: #EFECE8;
$secondary-alt: #D8D1C6;
$white: #FAF9F9;

/* Breakpoints */

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 500px;
$max: 1200px; /* max container size */