* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* max container size */
html {
  font-size: 18px;
}

@media (max-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

html {
  font-family: 'DM Sans', sans-serif;
  color: #4E625E;
}

a {
  color: #7c71b9;
  text-decoration: none;
}

h1, h4, h6 {
  font-family: 'Syne', sans-serif;
}

p, h2 {
  font-size: 0.875em;
  letter-spacing: 0.0125em;
  font-weight: 300;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.875em;
}

p strong {
  font-weight: 600;
  color: #435653;
}

h1 {
  font-weight: 600;
  font-size: 3.5em;
  margin-top: -1rem;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3.25em;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3em;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.75em;
    margin-top: -2rem;
  }
}

h2 {
  margin-top: 4em;
  margin-bottom: 4em;
  letter-spacing: 0.01em;
  line-height: 0.1em;
  width: 100%;
  border-bottom: 1px solid #4E625E;
}

@media screen and (max-width: 992px) {
  h2 {
    margin-bottom: 3em;
    letter-spacing: 0.025em;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    margin-top: 3rem;
  }
}

h2 span {
  background: #FFFFFF;
  padding-right: 1rem;
}

h3 {
  font-family: 'Lexend', sans-serif;
  line-height: 2em;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.075em;
  margin-bottom: 0.75em;
}

.about-right h3 {
  margin-bottom: 0;
}

h4 {
  font-size: 1.5em;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  font-weight: 700;
  display: inline;
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 1.25em;
  }
}

h5 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.04em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #435653;
}

@media screen and (max-width: 768px) {
  h5 {
    font-weight: 200;
    letter-spacing: 0.02em;
  }
}

h5 b {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.125em;
}

h6 {
  font-size: 1.25em;
  margin: 0;
}

li {
  font-size: 0.875em;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}

li strong {
  font-weight: 600;
  color: #435653;
}

.card {
  color: #4E625E;
}

.card h1 {
  font-size: 2em;
  margin-left: -0.1rem;
  margin-bottom: 0.25rem;
  margin-top: 0.325em;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .card h1 {
    font-size: 1.625em;
  }
}

@media screen and (max-width: 768px) {
  .card h1 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 500px) {
  .card h1 {
    font-size: 1.5em;
  }
}

.text p {
  padding: 0.0825em;
}

::-moz-selection {
  /* Code for Firefox */
  background: #f2fdc98a;
}

::selection {
  background: #f2fdc98a;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

html {
  position: relative;
}

/* body {
    cursor: none;
} */
/* .cursor {
    position: fixed;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $primary-alt;
    pointer-events: none;
    z-index: 11;
    mix-blend-mode: multiply;
} */
/* a:hover {
    cursor: none;
}

a:hover .cursor {
    transform: scale (2);
} */
.flex-container:before {
  display: inline;
}

@-webkit-keyframes cursorAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cursorAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.expand {
  -webkit-animation: cursorAnim 0.5s forwards;
          animation: cursorAnim 0.5s forwards;
}

.buttons {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  margin-top: 2rem;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  width: 16.5rem;
  vertical-align: middle;
}

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px solid #4E625E;
  color: #4E625E;
  overflow: hidden;
  border-radius: 24px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding: 0.75rem 1.75rem;
}

.button h1 {
  font-size: 1.05em;
  font-weight: 600;
  margin: 0;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #4E625E;
  z-index: -1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.button:hover {
  color: #d8ff4a;
}

.button:hover:before {
  left: 0;
}

.social {
  bottom: 2rem;
}

.social a {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #4E625E;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin-right: 0.5rem;
  border: 1px solid #4E625E;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.social a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4E625E;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.social a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.social a:hover {
  color: #d8ff4a;
}

.intro {
  width: 70%;
  margin-top: 16rem;
  margin-bottom: 0rem;
}

@media screen and (max-width: 1500px) {
  .intro {
    width: 75%;
    margin-left: 3rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 1200px) {
  .intro {
    margin-left: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 992px) {
  .intro {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    margin-left: 0rem;
    margin-bottom: -2rem;
  }
}

.intro-link {
  margin-top: 0.5em;
}

.intro-link .arrow-hover {
  font-size: 0.75em;
  margin-left: 0.75rem;
  vertical-align: middle;
}

.landing {
  font-size: 1rem;
  padding: 0;
  margin: 6rem 0 2rem 0;
}

@media screen and (max-width: 992px) {
  .landing {
    font-size: 0.9rem;
  }
}

.one-rem {
  margin-left: -1rem;
}

.card {
  position: relative;
  max-width: 1020px;
  max-height: 600px;
  width: 80vw;
  height: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 15px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media screen and (max-width: 992px) {
  .card {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 80vw;
    padding: 0 2rem 2rem 3rem;
    /* display: flex;
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flexbox;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        */
  }
}

@media screen and (max-width: 500px) {
  .card {
    height: 65vh;
    padding: 0 1rem 1rem 2rem;
    max-height: 400px;
    min-height: 350px;
  }
}

.card p {
  line-height: 1.5em;
  margin-top: 1em;
}

.card h3 {
  line-height: 1.75em;
  margin-bottom: -1em;
}

.cardtext {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  display: inline;
  width: 50%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cardtext {
    top: 2rem;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: relative;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .cardtext {
    top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.cardtext a {
  text-decoration: none;
}

.cardtext .h1 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  font-size: 1.25em;
}

.arrow {
  margin-left: 1rem;
  display: inline;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.25s ease-in;
  transition: visibility 0s, opacity 0.25s ease-in;
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

@media screen and (max-width: 768px) {
  .arrow {
    margin-top: 0.5rem;
  }
}

.arrow i {
  vertical-align: middle;
  margin-top: 0.75rem;
}

@media screen and (max-width: 992px) {
  .arrow i {
    margin-top: 0.275rem;
  }
}

@media screen and (max-width: 500px) {
  .arrow i {
    margin-top: 0.25rem;
  }
}

.arrow-hover {
  margin-left: .5rem;
}

.arrow-hover-left {
  margin-right: .5rem;
}

.card:hover {
  color: #FFFFFF;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.card:hover .arrow {
  opacity: 1;
  visibility: visible;
}

.cardimg {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  top: 50%;
  width: 45%;
}

@media screen and (max-width: 1500px) {
  .cardimg {
    right: 0%;
  }
}

@media screen and (max-width: 768px) {
  .cardimg {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-top: 10%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .cardimg {
    height: 80%;
  }
}

.ovopy {
  background-color: #faebcc;
}

.ovopy:hover {
  background-color: #ffa42c;
}

.regent {
  background-color: #fce9e5;
}

.regent:hover {
  background-color: #ff7d4a;
}

.discovergaming {
  background-color: #e2f2fa;
}

.discovergaming:hover {
  background-color: #507fff;
}

@media screen and (max-width: 768px) {
  section {
    margin-left: -1rem;
  }
}

#navbar {
  position: fixed;
  -webkit-transition: top 0.75s;
  transition: top 0.75s;
  background-color: #4E625E;
}

#navbar, #footer {
  height: 5rem;
  padding: 0.125rem 0;
  z-index: 10;
  display: block;
  width: 100vw;
  margin-left: 0;
}

.nav-content, .footer-content {
  height: 100%;
  max-width: 992px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .nav-content, .footer-content {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 992px) {
  .nav-content, .footer-content {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-content, .footer-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-content, .footer-content {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.nav-hide {
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .nav-hide {
    visibility: hidden;
    width: 0;
  }
}

.nav-links a, .footer-links a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125em;
  text-align: center;
  padding: 0;
  margin: 0 3rem 0 0;
}

@media screen and (max-width: 768px) {
  .nav-links a, .footer-links a {
    font-size: 1em;
  }
}

.nav-links ul, .footer-links ul {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  list-style: none;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  width: 50%;
  padding-top: 0.325rem;
}

@media screen and (max-width: 500px) {
  .nav-links ul, .footer-links ul {
    font-size: 1em;
    margin-top: 1.625rem;
    padding-top: 0;
  }
}

.nav-content a, .nav-content li {
  color: #FFFFFF;
}

.nav-content a :hover, .nav-content li :hover {
  color: #d8ff4a;
  -webkit-transition: all ease  0.175s;
  transition: all ease  0.175s;
}

#footer {
  background-color: #EFECE8;
  margin-top: 6rem;
  padding-left: 1rem;
}

#footer p {
  margin: 0;
}

@media screen and (max-width: 500px) {
  #footer p {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 768px) {
  #footer {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 500px) {
  #footer {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #footer li {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  #footer li {
    margin-left: 0.25rem;
  }
}

.footer-links a {
  color: #4E625E;
}

.footer-links a :hover {
  color: #94bd00;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all ease  0.175s;
  transition: all ease  0.175s;
}

.about {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-left: 1rem;
  }
}

.about a:hover {
  color: #483a97;
}

.about-right {
  padding-left: 0;
  margin-top: -1rem;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .about-right {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) and (max-width: 992px) {
  .about-right {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .about-right {
    margin-top: 1rem;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 992px) {
  .about-right {
    margin-top: 1rem;
  }
}

.about-right div {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 500px) {
  .about-right div {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.about-right h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

@media screen and (max-width: 500px) {
  .about-right h3 {
    margin-bottom: 0.25rem;
  }
}

.about-right p {
  line-height: 1.5em;
  margin-bottom: 0;
}

.block {
  margin: auto;
  max-width: 992px;
  padding-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .block {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 992px) {
  .block {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .block {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .block {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.block a:hover .arrow-hover {
  margin-left: 1.25rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.block a:hover .arrow-hover-left {
  margin-right: 1.25rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.text {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

@media screen and (max-width: 992px) {
  .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
  }
}

.text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text h3 {
  margin-top: 0.175rem;
}

.text div {
  padding-left: 0;
}

.text a:hover {
  color: #483a97;
}

.link-hover:hover p {
  color: #483a97;
}

.white {
  background-color: #FFFFFF;
  width: 100vw;
}

footer {
  background-color: #FFFFFF;
}

.video {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-top: 4rem;
  margin-bottom: -3rem;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .img {
    margin: 5rem 0 0rem 0;
  }
}

@media screen and (max-width: 500px) {
  .img {
    margin: 3rem 0 -2rem 0;
  }
}

.banner-div {
  position: relative;
  text-align: center;
  width: 100%;
}

.banner {
  width: 100vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-img {
  height: 40vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.small {
  width: 75%;
}

@media screen and (max-width: 1200px) {
  .small {
    width: 100%;
  }
}

.show-on-scroll {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 3s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 3s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 3s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 3s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 3s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform, opacity;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translateY(-3em);
          transform: translateY(-3em);
}

.img-col {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.img-col .img {
  margin-left: -1rem;
}

@media screen and (max-width: 1200px) {
  .img-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
    max-width: 100%;
  }
}

.img-grid {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
}

.column {
  display: block;
  margin: 0;
  padding: 0;
  width: 33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.column .grid-element {
  width: 100%;
  padding: 1rem 0.5rem 0 0.5rem;
}

@media screen and (max-width: 992px) {
  .column .grid-element {
    padding: 1rem 0.5rem 0 0.5rem;
  }
}

.text-col {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.text-col div {
  max-width: 50%;
  margin-right: 2rem;
}

@media screen and (max-width: 992px) {
  .text-col div {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .text-col div {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .text-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
  }
}

.text-col p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .text-col p {
    margin-bottom: 0rem;
  }
}

.iframe {
  width: 100%;
  height: 100%;
  border-style: none;
  margin: 2rem 0;
}

.mobile-mockup iframe {
  width: 100%;
}

.tall {
  height: 70vh;
}

.prototype {
  border: 1px solid #d8ff4a;
  margin-top: 1rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 15px;
  margin: 2rem 0 2rem -1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .iframe-container {
    margin: 1rem auto;
  }
}

.iframe-container iframe {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  margin: 0;
}

.container-fluid {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .container-fluid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-direction: column;
    }
  }
}

.container-fluid .img {
  margin: 1rem 0 0 -1rem;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    margin-bottom: -1rem;
  }
}

.grid-card {
  padding: 1.25rem 2rem;
  background-color: #EFECE8;
  border-radius: 5px;
  width: 100%;
}

.grid-card p {
  line-height: 1.5em;
}

@media screen and (min-width: 768px) {
  .grid-card {
    height: 100%;
    margin-left: 0.05rem;
  }
}

@media screen and (max-width: 1200px) {
  .grid-card {
    padding: 1rem 1.5rem;
    margin-right: -1rem;
  }
}

@media screen and (max-width: 768px) {
  .grid-card {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    margin-left: 0.125rem;
  }
}

.takeaways h2 {
  margin-bottom: 3em;
}

.takeaways .text {
  margin-top: 1em;
}

.overlay, .popup {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .overlay, .popup {
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 2rem;
  width: 85vw;
  z-index: 21;
}

.popup h1 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */